.Section {
  min-height: 100vh;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  position:relative;
}
.Section6BackGround {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom right;
  z-index: -2;
}
.roadmap_road{
  margin-top: 50vh;
  width: 50%;
  object-fit: contain;
  z-index: -1;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
}
.roadmap h1 {
  position: relative;
}
.banner img {
  max-width: 100%;
  position: relative;
}
.banner{
  // width: 50vw !important;
  // margin: auto;
  margin-top: 56vh;
  width: 40%;
  object-fit: contain;
  z-index: -1;
  position: absolute;
  left: 46%;
  transform: translate(-50%,-50%);
}

.Q2 {
  margin-top: -5vh;
}
.Q3 {
  margin-top: -4vh;
}
.Q4 {
  margin-top: -20vh;
}
.Q1 {
  margin-top: -18vh;
}

@media (max-width: 1440px){
  .Q2 {
    margin-top: -7vh;
  }
  .Q3 {
    margin-top: -6vh;
  }
}
@media (max-width: 1024px){
  .Q2 {
    margin-top: -8vh;
  }
  .Q3 {
    margin-top: -7vh;
  }
}
@media (max-width: 768px){
  .Q2 {
    margin-top: -5vh;
  }
  .Q3 {
    margin-top: -5vh;
  }
  .Q4 {
    margin-top: -19vh;
  }
}
@media (max-width: 425px){
  .Q2 {
    margin-top: -5vh;
  }
  .Q1 {
    margin-top: -15vh;
  }
  .Q4 {
    margin-top: -16vh;
  }
}
@media (max-width: 320px){
  .Q1 {
    margin-top: -13vh;
  }
  .Q4 {
    margin-top: -15vh;
  }
}